html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: \" \";
  clear: both;
  height: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
}
html h1, html h2, html h3, html h4, html ul {
  margin: 0;
  padding: 0;
}
html h1, html h2, html h3, html h4, html p, html a {
  color: #3f3731;
}
html h1 {
  font-size: 6rem;
}
html h2 {
  font-size: 4.2rem;
  font-weight: 400;
}
html h3 {
  font-size: 2rem;
  font-weight: 400;
}
html h4 {
  font-size: 1.7rem;
  font-weight: 400;
}
html p {
  font-size: 1.8rem;
}
html a {
  font-size: 1.5rem;
  text-decoration: none;
}
html button {
  font-size: 1.5rem;
}
html i {
  font-size: 2.5rem;
}
html input, html label, html textarea {
  font-size: 1.8rem;
}
html ul {
  padding: 0;
  margin: 0;
}
html .hideElement {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 576px) {
  html h1 {
    font-size: 3.2rem;
  }
  html h2 {
    font-size: 2.6rem;
  }
  html h3 {
    font-size: 1.5rem;
  }
  html h4 {
    font-size: 1.4rem;
  }
  html p {
    font-size: 1.2rem;
  }
  html a {
    font-size: 1.2rem;
  }
  html i {
    font-size: 1.2rem;
  }
  html input, html label, html textarea, html button {
    font-size: 1.2rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  html h1 {
    font-size: 3.2rem;
  }
  html h2 {
    font-size: 2.6rem;
  }
  html h3 {
    font-size: 1.5rem;
  }
  html h4 {
    font-size: 1.4rem;
  }
  html p {
    font-size: 1.2rem;
  }
  html a {
    font-size: 1.2rem;
  }
  html i {
    font-size: 1.2rem;
  }
  html input, html label, html textarea, html button {
    font-size: 1.2rem;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  html h1 {
    font-size: 4.4rem;
  }
  html h2 {
    font-size: 3rem;
  }
  html h3 {
    font-size: 1.6rem;
  }
  html h4 {
    font-size: 1.5rem;
  }
  html p {
    font-size: 1.2rem;
  }
  html a {
    font-size: 1.4rem;
  }
  html i {
    font-size: 1.8rem;
  }
  html input, html label, html textarea {
    font-size: 1.8rem;
  }
}
@media (min-width: 1201px) {
  html h1 {
    font-size: 4.4rem;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f2f2f2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  padding: 10px 0;
  margin-left: 20px;
}
header .logo img {
  width: 190px;
}
header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
header .nav ul li {
  font-size: 1.4rem;
  margin: 10px 10px;
}
header .nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
header .nav ul li a:hover {
  color: gray;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4e4237 url(../../assets/background-wood.jpg) center top repeat;
  background-attachment: fixed;
}

.mainWrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainWrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainWrapper main .heroContainer {
  width: 100%;
  position: relative;
}
.mainWrapper main .heroContainer .heroOverlay {
  position: absolute;
  z-index: 9998;
  background: rgba(78, 66, 55, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mainWrapper main .heroContainer .heroText {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 6rem;
  font-weight: 700;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer h2 span {
  color: cornflowerblue;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer .subscribe a {
  background: cornflowerblue;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.mainWrapper main .heroContainer .heroText .heroTextContainer .subscribe a:hover {
  color: #092049;
}
.mainWrapper main .heroContainer .heroMain {
  width: 100%;
  height: 750px;
}
.mainWrapper main .heroContainer .heroMain .hero {
  width: 100%;
  height: 100%;
}
.mainWrapper main .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  height: 400px;
}
.mainWrapper main .aboutContainer .aboutLeft {
  width: 50%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
}
.mainWrapper main .aboutContainer .aboutLeft h2 {
  font-weight: 700;
}
.mainWrapper main .aboutContainer .aboutRight {
  width: 50%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
}
.mainWrapper main .aboutContainer .aboutRight .aboutBlurb .blurbHeader {
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.mainWrapper main .aboutContainer .aboutRight .aboutBlurb .blurbHeader i {
  height: 25px;
}
.mainWrapper main .aboutContainer .aboutRight .aboutBlurb .blurbHeader h3 {
  height: 25px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  margin-left: 15px;
}
.mainWrapper main .aboutContainer .aboutRight .aboutBlurb .blurbHeader h4 {
  color: #565656;
}
.mainWrapper main .menu {
  width: 100%;
}
.mainWrapper main .menu .mainDinnerContainer {
  width: 100%;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerBanner {
  width: 100%;
  height: 175px;
  position: relative;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerBanner .dinnerBannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.mainWrapper main .menu .mainDinnerContainer .dinnerBanner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerBanner .bannerText {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerBanner .bannerText h2 {
  color: white;
  font-size: 5rem;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerItems {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerItems .dinner {
  width: 40%;
  margin: 25px 0;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerItems .dinner .dinnerMain {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerItems .dinner .dinnerMain .dinnerName {
  width: 50%;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerItems .dinner .dinnerMain h3 {
  font-weight: 700;
  font-size: 1.8rem;
}
.mainWrapper main .menu .mainDinnerContainer .dinnerItems .dinner .dinnerDetail p {
  font-size: 1.2rem;
  color: #565656;
}
.mainWrapper .heroMain .hero img {
  width: 100%;
  height: 100%;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainWrapper .heroMain .flickity-page-dots {
  bottom: 25px;
}
.mainWrapper .heroMain .flickity-page-dots .dot {
  background: grey;
}

footer {
  background: #26211e;
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .socialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .socialNav div {
  margin: 20px 25px;
  padding: 12px 15px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
}
footer .socialNav div a {
  display: inline-block;
  color: #d0c7c2;
}
footer .socialNav div a i {
  font-size: 2rem;
}
footer .socialNav .facebook {
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
footer .socialNav .facebook:hover {
  background: #4267B2;
}
footer .socialNav .twitter {
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
footer .socialNav .twitter:hover {
  background: #1DA1F2;
}
footer .socialNav .linkedin {
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
footer .socialNav .linkedin:hover {
  background: #2867B2;
}
footer .footerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
footer .footerNav ul li a {
  text-decoration: none;
  color: #d0c7c2;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
footer .footerNav ul li a:hover {
  color: #534740;
}
footer .footerNav ul li:not(:first-child):before {
  content: "/";
  color: white;
  opacity: 0.35;
  margin: 0 15px 0 15px;
  float: left;
  font-size: 1.5rem;
}
footer .fin {
  margin: 25px 0;
}
footer .fin h4 {
  font-size: 1.5rem;
  color: #d0c7c2;
  font-weight: 100;
}